/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Feb-2021, 21:28:48
    Author     : coola
*/

.add-country-text{
    width: 35%;
    color: green;
    text-align: right;
    font-size: 24px;
}
.add-country-header{
    background: #2d6d2d;
    height: 50px;
    color: white;
    font-size: 22px;
    padding-top: 5px;
    text-align: center;
    font-weight: 500;
}
.margin-top{
    margin-top: 20px;
}
.add-country-btn{
    background: #2d6d2d;
    color: white;
    margin-left: 23%;
    margin-top: 13px;
}