/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Feb-2021, 19:29:24
    Author     : coola
*/

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.default-header-foodmiles{
    background: #2d6d2d;
    color: white;
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 500;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}